button{
    display : flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      font-size:xx-large;
      padding : 32px 40px;
}

.text-container{
    font-size: large;
}

p{
    font-size: large;
}
nz-divider{
    font-size: x-large;
}