<!--author: Xilai Wang-->
<!-- This is the root page. Angular is a single-page application, which means it has only one page. It controls the change of components in the router-outlet by manipulating the routes in the URL. -->
<nz-layout>
  <nz-header routerLink='welcome' >     
    <nz-avatar [nzShape]="'square'" [nzSize]="120" [nzIcon]="'user'" nzSrc="../assets/logo.png"></nz-avatar>
    <b id = "company_name" >Mind Heart Sync</b>
  </nz-header>
  <nz-content>
     <!-- This is a router placeholder. -->
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>