<!--author: Xilai Wang-->
<div class="swiper">
    <div class="swiper-wrapper">

        <div class="swiper-slide" >       
            <img Src = '../../../assets/carousel_pics/in_clinic.png' alt = "" >
        </div> 
        <div class="swiper-slide">   
            <img Src = '../../../assets/carousel_pics/education.webp' alt = "">
        </div>
        <div class="swiper-slide">
            <img Src = '../../../assets/carousel_pics/animal_farming.webp' alt = "">
        </div>
        <div class="swiper-slide" >       
            <img Src = '../../../assets/carousel_pics/cashier.webp' alt = "" >
        </div> 
        <div class="swiper-slide">
            <img Src = '../../../assets/carousel_pics/athelete.webp' alt = "">
        </div>
        
        <div class="swiper-slide" >       
            <img Src = '../../../assets/carousel_pics/technology.webp' alt = "" >
        </div> 
        <div class="swiper-slide">
            <img Src = '../../../assets/carousel_pics/restaurant.webp' alt = "">
        </div>
        <div class="swiper-slide" >       
            <img Src = '../../../assets/carousel_pics/bus_driver.webp' alt = "" >
        </div> 
        
        <div class="swiper-slide" >       
            <img Src = '../../../assets/carousel_pics/dancer.webp' alt = "" >
        </div> 
        <div class="swiper-slide" >       
            <img Src = '../../../assets/carousel_pics/finance.webp' alt = "" >
        </div> 

    </div>
   
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev" (click)="prevHandler()"></div>
    <div class="swiper-button-next" (click)="nextHandler()"></div>
  
    </div>
    
    <div>
        <br><br>
        <span nz-typography id ='hometext'>Smartly assess your stress level using your electroencephalogram and electrocardiogram.</span>
        <br/><br/>
        <button id='trynow' nz-button nzType = 'primary' nzSize='large' nzShape="round" routerLink='/menu' >Try Now</button> 
    </div>
        