.swiper {
    width: 1800px;
    height: 600px;
    img {
        width: 600px;
        height: 600px;
    }
    .swiper-slide {
        width: 600px;
        height: 600px;
    }
}

#trynow{
    display : flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      font-size:xx-large;
      padding : 32px 40px;
  }
  
  #hometext{
    display : flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      font-size: xx-large;
      color:cadetblue;
  }
  